Intelligent-Customer-Help-Desk-with-smart-document-understanding/Node-RED/flows.json
[{"id":"706c86f5.14a978","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"e32bcabf.0f6bb8","type":"tab","label":"Assistant","disabled":false,"info":""},{"id":"89114788.644c58","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#9437ff","baseFont":"Impact,Impact,Charcoal,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#a9a9a9","baseFont":"Verdana,Verdana,Geneva,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#0000d2","baseFont":"Lucida Sans Unicode,Lucida Grande,sans-serif","reset":false},"themeState":{"base-color":{"default":"#8080ff","value":"#0000d2","edited":true},"page-titlebar-backgroundColor":{"value":"#6868ff","edited":true},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#ffff04","edited":true},"group-borderColor":{"value":"#adadad","edited":true},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#fbfbfb","edited":true},"widget-backgroundColor":{"value":"#2ccfe7","edited":true},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Lucida Sans Unicode,Lucida Grande,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":46,"sy":47,"gx":1679,"gy":25,"cx":22,"cy":9,"px":15,"py":11}}},{"id":"f616fb64.c11968","type":"ui_group","z":"","name":"Group","tab":"","order":1,"disp":true,"width":"7","collapse":false},{"id":"5e3ecacb.8a1714","type":"ui_group","z":"","name":"Groupname","tab":"","order":1,"disp":true,"width":"15","collapse":false},{"id":"e3ce54d.1ac4da8","type":"ui_spacer","name":"spacer","group":"5e3ecacb.8a1714","order":3,"width":2,"height":1},{"id":"4764502f.854b","type":"ui_spacer","name":"spacer","group":"5e3ecacb.8a1714","order":4,"width":2,"height":1},{"id":"ef21fb4d.03b328","type":"ui_spacer","name":"spacer","group":"5e3ecacb.8a1714","order":5,"width":2,"height":1},{"id":"5cbae3ea.a17e3c","type":"ui_spacer","name":"spacer","group":"5e3ecacb.8a1714","order":6,"width":2,"height":1},{"id":"56226e15.00a43","type":"ui_group","z":"","name":"Group","tab":"","order":1,"disp":true,"width":"7","collapse":false},{"id":"27d23096.6fe06","type":"ui_spacer","name":"spacer","group":"","order":3,"width":2,"height":1},{"id":"a0598379.bfc03","type":"ui_spacer","name":"spacer","group":"","order":4,"width":2,"height":1},{"id":"5ab795bb.1e13dc","type":"ui_spacer","name":"spacer","group":"","order":5,"width":2,"height":1},{"id":"90bd58d5.15a988","type":"ui_spacer","name":"spacer","group":"","order":6,"width":2,"height":1},{"id":"f28a4671.0f5228","type":"ui_tab","z":"","name":"Customer Care","icon":"dashboard","disabled":false,"hidden":false},{"id":"32725aa1.5877e6","type":"ui_group","z":"","name":"Bot's Reply","tab":"f28a4671.0f5228","order":2,"disp":true,"width":"9","collapse":false},{"id":"910404a4.67ebf8","type":"ui_group","z":"","name":"User's Reply","tab":"f28a4671.0f5228","order":1,"disp":true,"width":"9","collapse":false,"info":"### lala****"},{"id":"9fb3e87e.94ff58","type":"ui_form","z":"706c86f5.14a978","name":"","label":"","group":"910404a4.67ebf8","order":2,"width":"9","height":4,"options":[{"label":"Enter The Name","value":"Name","type":"text","required":true,"rows":null},{"label":"Email","value":"Email","type":"email","required":true,"rows":null},{"label":"Password","value":"Password","type":"password","required":true,"rows":null}],"formValue":{"Name":"","Email":"","Password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":151,"y":153,"wires":[["c9c82945.e3b048"]],"l":false},{"id":"f4ad48b5.717838","type":"debug","z":"706c86f5.14a978","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":572,"y":147,"wires":[],"l":false},{"id":"c9c82945.e3b048","type":"function","z":"706c86f5.14a978","name":"","func":"msg.payload=msg.payload.Name\nreturn msg;","outputs":1,"noerr":0,"x":298,"y":152,"wires":[["f4ad48b5.717838","6cbc48a4.45b358"]],"l":false},{"id":"6cbc48a4.45b358","type":"ui_text","z":"706c86f5.14a978","group":"910404a4.67ebf8","order":1,"width":0,"height":0,"name":"","label":"Hey","format":"{{msg.payload}}","layout":"col-center","x":416,"y":312,"wires":[],"l":false},{"id":"9e7a6076.7e2c","type":"function","z":"e32bcabf.0f6bb8","name":"","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":271,"y":256,"wires":[["196fb30b.83a87d","d89f1d26.cd4e3"]],"l":false},{"id":"6f781d3c.0d2134","type":"function","z":"e32bcabf.0f6bb8","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":665,"y":257,"wires":[["f3596c04.c37a3","a5056538.0839c8"]],"l":false},{"id":"f3596c04.c37a3","type":"debug","z":"e32bcabf.0f6bb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":725,"y":89,"wires":[],"l":false},{"id":"196fb30b.83a87d","type":"ui_text","z":"e32bcabf.0f6bb8","group":"910404a4.67ebf8","order":2,"width":0,"height":0,"name":"","label":"Your Input","format":"{{msg.payload}}","layout":"col-center","x":451,"y":487,"wires":[],"l":false},{"id":"52a27d71.d70c44","type":"ui_form","z":"e32bcabf.0f6bb8","name":"","label":"","group":"910404a4.67ebf8","order":1,"width":0,"height":0,"options":[{"label":"Enter the Input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":124,"y":346,"wires":[["9e7a6076.7e2c"]],"l":false},{"id":"d89f1d26.cd4e3","type":"watson-conversation-v1","z":"e32bcabf.0f6bb8","name":"Assistant","workspaceid":"5abd026b-f02c-4412-902b-55fa20cf63f6","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/cb6dc8cd-2172-4fb1-9446-9c6a34be8636","timeout":"","optout-learning":false,"x":477,"y":200,"wires":[["6f781d3c.0d2134"]],"l":false},{"id":"e64cf8d8.fd6e48","type":"inject","z":"e32bcabf.0f6bb8","name":"","topic":"","payload":"How to turn on heater","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":186,"y":100,"wires":[["d89f1d26.cd4e3"]],"l":false},{"id":"a5056538.0839c8","type":"ui_text","z":"e32bcabf.0f6bb8","group":"32725aa1.5877e6","order":1,"width":9,"height":4,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":708,"y":377,"wires":[],"l":false}]